@import '../common/variables.less';

@player-margin:50px;

.admin-page{
  align-items:center;
  box-sizing:border-box;
  display:flex;
  flex-direction:column;
  height:min-content;
  justify-content:center;
  min-height:100%;
  padding:40px 0;
  position:relative;

  &__form{
    &_shifted{
      margin-top:-@player-margin - @input-height;
      margin-bottom:@player-margin;
    }
  }

  &__player{
    height:@player-height;
    width:@player-width;
  }

  &__chat{
    bottom:30px;
    height: 90%;
    min-height:@chat-height;
    position:absolute;
    right:30px;
    width:@chat-width;
  }

  &__save-chat-button{
    bottom:30px;
    position:absolute;
    right:@chat-width+45px;
  }
}