@import '../common/variables.less';

.button{
  background:@button-default-background;
  border:0;
  border-radius:3px;
  color:white;
  cursor:pointer;
  display:inline-block;
  font-size:16px;
  height:@input-height;
  line-height:@input-height;
  padding:0 30px;
  text-decoration:none;
  text-transform:uppercase;

  &_red{
    background:@button-red-background;
  }

  &[disabled]{
    opacity:0.5;
  }
}