@import '../common/variables.less';

.chat{
  display:flex;
  flex-direction:column;

  &__header{
    background:@chat-header-background;
    border-left:1px solid @chat-header-background;
    border-right:1px solid @chat-header-background;
    color:white;
    font-size:14px;
    padding:15px;
    text-transform:uppercase;
  }

  &__body{
    align-items:stretch;
    display:flex;
    flex:1;
  }

  &__content{
    display:flex;
    flex:3;
    flex-direction:column;
  }

  &__messages{
    background:white;
    border-left:1px solid @chat-border-color;
    border-right:1px solid @chat-border-color;
    display:flex;
    flex:1;
    flex-direction:column;
    overflow:scroll;
    padding:15px;
  }

  &__message{
    align-self:flex-start;
    background:@chat-own-messages-background;
    border-radius:10px;
    margin-top:10px;
    padding:10px;

    &:first-child{
      margin-top:0;
    }

    &_right{
      background:@chat-their-messages-background;
      align-self:flex-end;
    }
  }

  &__notification{
    color:@chat-notification-color;
    font-size:12px;
    margin-top:20px;
    text-align:center;

    &:first-child{
      margin-top:0;
    }
  }

  &__form{
    align-items:center;
    display:flex;
    padding:0;
  }

  &__input{
    border:1px solid @chat-border-color;
    border-radius:0;
    box-sizing:border-box;
    font-size:12px;
    outline:none;
    padding:12px;
    width:100%;
  }

  &__users{
    border-bottom:1px solid @chat-border-color;
    border-right:1px solid @chat-border-color;
    flex:1;
    overflow:scroll;
    padding:15px;
  }

  &__user{
    color:@chat-username-color;
    font-size:12px;
    margin-top:10px;

    &:first-child{
      margin-top:0;
    }
  }
}