@import '../common/variables.less';

.chat-message{
  &__username{
    color:@chat-username-color;
    font-size:13px;
    font-weight:700;
  }

  &__text{
    font-size:12px;
    margin-top:5px;
  }
}