.client-page{
  align-items:center;
  box-sizing:border-box;
  display:flex;
  flex-direction:column;
  height:100%;
  justify-content:center;
  padding:15px;

  &__widget{
    display:flex;

    flex-direction:column;
    height:100%;
    width:100%;
  }

  &__player-cap{
    align-items:center;
    box-sizing:border-box;
    background:black;
    color:white;
    font-size:16px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:@player-height;
    width:@player-width;
    padding:0 15px;
    text-align:center;

    flex:1;
    height:auto;
    width:100%;

    &_absolute{
      height:100%;
      left:0;
      position:absolute;
      top:0;
      width:100%;
      z-index:100;
    }
  }

  &__cap-button{
    margin-top:15px;
  }

  &__player{
    background:black;
    align-content:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:@player-height;
    position:relative;
    width:@player-width;
    z-index:50;

    flex:1;
    height:auto;
    width:100%;
  }

  &__embedded{
    height:100%;
    width:100%;
  }

  &__chat{
    height:@chat-height;
    width:@chat-width-narrow;

    flex:1;
    height:auto;
    width:100%;
  }
}