// @vimeo-main-color:#49ace9;

.video-player{
  position:relative;

  > span{
    display:block;
    height:100%;
    width:100%;
  }

  &__embed{
    pointer-events:none;
    height:100%;
    width:100%;
  }

  &__time{
    background:black;
    bottom:15px;
    color:white;
    font-size:14px;
    left:15px;
    padding:10px;
    position:absolute;
  }

  &__controls{
    margin-top:20px;
    text-align:center;
  }

  &__control{
    margin:0 10px;
  }
}