body{
  margin:0;
}

body, input, select{
  font-family:'Roboto', sans-serif;
  font-size:14px;
}

html, body, #app{
  height:100%;
}

form, input, ul, p, h1, h2, h3, h4, h5, h6{
  margin:0;
}

ul{
  padding:0;
}