@input-height:45px;
@button-default-background:#69C13E;
@button-red-background:#BA3132;

@chat-border-color:#CACACA;
@chat-header-background:#69C13E;
@chat-username-color:#BA3132;
@chat-notification-color:#cccccc;
@chat-own-messages-background:#f3f3dc;
@chat-their-messages-background:#dce5c4;

@player-height:400px;
@player-width:600px;

@chat-height:400px;
@chat-width:375px;
@chat-width-narrow:275px;

@mobile-breakpoint:1000px;